[submodule "riscv-binutils"]
	path = riscv-binutils
	url = ../hope-riscv-binutils-gdb.git
	branch = riscv-binutils-2.37
[submodule "riscv-gcc"]
	path = riscv-gcc
	url = ../hope-riscv-gcc.git
	branch = riscv-gcc-11.1.0
[submodule "riscv-glibc"]
	path = riscv-glibc
	url = https://sourceware.org/git/glibc.git
	branch = 7aad1253

# hope tools do not clone this submodule, but upstreams do
#[submodule "riscv-dejagnu"]
#	path = riscv-dejagnu
#	url = https://github.com/riscv-collab/riscv-dejagnu.git
#	branch = upstream-2021.12.22

[submodule "riscv-newlib"]
	path = riscv-newlib
	url = ../hope-riscv-newlib.git
	branch = newlib-4.1.0
[submodule "riscv-gdb"]
	path = riscv-gdb
	url = ../hope-riscv-binutils-gdb.git
	branch = fsf-gdb-10.1-with-sim

# hope tools do	not clone this submodule, but upstreams	do
#[submodule "qemu"]
#	path = qemu
#	url = https://git.qemu.org/git/qemu.git
#	branch = upstream-2021.12.22
